.container{
    display: grid;
    grid-template-columns: 100px 150px 80px 90px;
    grid-row: 80px 100px;
    grid-gap: 10px;
}

.box1{
    background-color: aqua;
}

.box2{
    background-color: cadetblue;
}

.box3{
    background-color: turquoise; grid-area: 3/5/4/6;
}