* {
    margin: 0;
}

#menu {
    height: 70px;
    background-color: rgba(255, 255, 0, 0.897);
    display: flex;
    align-items: center;
}

li,a {
    display: inline-block;
    text-decoration: none;

}

a {
    padding-left: 20px;
    color: cornflowerblue;
}

ul {
    width: 100%;
    text-align: right;
}

.box1 {
    height: 190px;
    background-color: rgb(117, 115, 0);
    width: 50%;

}

.box2 {
    height: 190px;
    background-color: rgba(77, 75, 1, 0.788);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div {
    display: flex;
}

.container3 {
    background-color: rgba(255, 255, 0, 0.463);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

img {
    width: 80%;
}

.imagem1,
.imagem2 {
    display: flex;
    justify-content: center;
}

#img_redondo {
    border-radius: 10px;
}
